@*@model SceptrDocumentation.Models.ClientSupplierMap

@{
    ViewBag.Title = "SeeDetailsEnabled";
}

<h2>SeeDetailsEnabled</h2>*@
@using System.Text.RegularExpressions
@model SceptrDocumentation.Models.ClientSupplierMap

@{
    ViewBag.Title = "SeeDetails";
}

<h2>SeeDetails</h2>
@using (Html.BeginForm("Update", "ClientSupplier", new { productID=@ViewBag.productId}))
{
<table>
@foreach (var item in @ViewBag.Clients)
{
            <td>
                <th>
                    &nbsp&nbsp&nbsp @item
                </th>
            </td>
}
    @foreach (var supplier in @ViewBag.Suppliers)
    {
            <tr>
                <th>
                    @supplier
                </th>
                @foreach (var client in @ViewBag.Clients)
                {
                    int flag = 0;
                    foreach (var entry in @ViewBag.ClientSuppliers)
                    {
                        const string pattern = @"(\w+)+(\w+)";

                        MatchCollection mc = Regex.Matches(entry, pattern);
                        var clientName = mc[0];
                        var supplierName = mc[1];
                        if (client == clientName.ToString() && supplier == supplierName.ToString())
                        {
                            <td>
                                <th>
                                    <input type="checkbox" value="@client+@supplier" name="clientSuppliers" checked/>
                                </th>
                            </td>
                            flag = 1;
                            break;
                        }
                    }
                    if (flag == 0)
                    {
                        <td>
                            <th>
                                <input type="checkbox" value="@client+@supplier" name="clientSuppliers"/>
                            </th>
                        </td>
                    }
                }
               </tr>
    }
</table>
    <input type="submit" value="Submit" />
}
